/* /* .some1{
    width:500px;
    height:300px;
  }
  .container{
    margin-top: 20px;
  }
  .btn{
    background-color: red;
    
  }
  .demo1{
    margin-left: 40%;
    margin-top: 20px;
    color:black;
    background-color: bisque;
  } */
   /* .num1{
    margin-top: 30px;
  }  */
   .name{
    background-color:antiquewhite;

  }  
   .container-fluid{
    margin-top: 30px;
   border-radius: 30px;
    width: 100%;
    height:600px;
    background-color:black;
    position: absolute;
   }
  .Form{
    margin-left: 30%;
    background-color:aquamarine;
    width:40%;
    height:420px;
    border-radius: 350px;
    position: relative;
  }
  .f{
    margin-top: 65px;
    margin-left: 20px;
    position: relative;
    color:brown;
    font-family:fantasy;
  }
.mail{
  color:goldenrod;
  margin-top: 80px;
  margin-left: 10px;
  font-size: 20px;
  font-family:fantasy;
 
}
.pass,.num,.sub{
  font-family:fantasy;
  color:goldenrod;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.sub{
background-color: black;
width:100px;
color:red;
}
.M{
  border-radius: 10px;
  margin-left: 20px;
}
.M::placeholder{
  color:red;
  font-family:fantasy;
}
.error{
  font-family:fantasy;
}  
.f2{
  margin-top:25px;
}
.f1{
  margin-top: 50px;
  margin-left: 20px;
}